* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 20, 20);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: lightgray;
}

a {
  color: white;
  font-size: 0.8em;
  text-decoration: none;
}

h2 {
  margin: 0;
  font-size: 1.25em;
}

.main {
  width: 100%;
  text-align: center;
  border: 1px solid; /* delete */
}

.pricing {
  display: grid;
  grid-template-columns: 2.5% auto 2.5%;
  row-gap: 6em;
  border: 1px dotted rgba(224, 255, 255, 0.637);
}

.pricing__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.75em;
}

.toggle__button {
  display: flex;
  align-items: center;
  background-color: rgba(88, 233, 238, 0.582);
  width: 3.5em;
  height: 1.9em;
  padding: 0 4px;
  border-radius: 1em;
}

.toggle__circle {
  width: 1.5em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: white;
}

.cards,
.pricing__head {
  border: 1px dotted rgb(221, 171, 188); /* delete */
  grid-column: 2 / 3;
}

.cards {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 325px;
  aspect-ratio: 1 / 1.37;
  padding: 1.75em 2em;
  border-radius: 10px;
  border: 1px dotted rgb(174, 204, 174); /* delte */
}

.card__title {
  margin-bottom: 1.8em;
}

.card__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 4.3em;
  margin: 0;
}

.card:nth-child(2) .card__price {
  font-size: 4.8em;
}

.card__benefit,
.card__price {
  margin: 0;
}

.card__price span {
  font-size: 2.2rem;
}

.card__benefit-box {
  border-bottom: 1px solid lightgoldenrodyellow;
  padding: 1.2em 0;
}

.card__benefit-box:first-child {
  border-top: 1px solid lightgoldenrodyellow;
}

.button {
  background-color: rgba(68, 68, 211, 0.849);
  padding: 1.1em 0;
  border-radius: 5px;
  letter-spacing: 2px;
  transition: 0.35s;
}

.button:hover {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.74);
}

@media (min-width: 1000px) {
  .cards {
    flex-direction: row;
    justify-content: center;
    height: 500px;
  }

  .card:nth-child(2) {
    justify-content: space-around;
    aspect-ratio: 1 / 1.457;
    color: aquamarine;
  }
}
